/* Footer styles */
footer {
    background-color: black;
      padding: 20px;
      text-align: center;
      width: 1307px;
    }
    
    footer p {
      font-size: 14px;
      color: #b3b3b3;
    }