body{
  background-color: black;
}

ul li{
  display: flex;
  padding: 1%;
  margin-top: 1%;
}

li{
  float: Right;
  display: block;
  background-color: black;
  color: white;
  font-size: large;
}

img{
  width: 100px;
  border-radius: 50%;
  height: auto;
}

.album{
overflow: show;
}
.albumco{
display: flex;
}

div.gallery {
  margin: 20px;
  border: 1px solid black;
  float: left;
  width: 180px;
  border-style: none;
}

div.gallery:hover {
  border: 1px solid black;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 10px;
  text-align: center;
  color: white;
}
